<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodBank"
        tools:targetApi="31">

        <activity
            android:name=".handler.SiteAdapter"
            android:exported="false" />
        <activity
            android:name=".activities.DonationSiteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CampaignDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC20Qm-7BJMhCDZCfpeMvn2Uf-d6puVyhk" />

        <activity
            android:name=".activities.admin_super.EditCampaignActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin_super.AddCampaignActivity"
            android:exported="false" />
        <activity
            android:name=".handler.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.admin_super.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManagerMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DonorMainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login_register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.login_register.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.admin_super.MapPickerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DonorManagement.DonorListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DonorManagement.DonorDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
    </application>

</manifest>
